<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品详情</title>
    <link href="__CSS__/detail/index.css" rel="stylesheet" type="text/css">
    <link href="__CSS__/detail/user.css" rel="stylesheet" type="text/css">
    <link href="__CSS__/detail/detail.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/easyui/themes/bootstrap/easyui.css">
    <link rel="stylesheet" href="__PUBLIC__/easyui/themes/icon.css">
    <!--滚动图片CSS-->
    <!--<link href="__CSS__/lunbo.css" rel="stylesheet" type="text/css" />-->
    <!--加载Bootstrap的CSS   __PUBLIC__在Home->Config中配置-->
    <link href="__PUBLIC__/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="__JS__/jquery-3.2.1.min.js"></script>
    <script src="__PUBLIC__/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript">
        var ThinkPhP={
            'MODULE':'__MODULE__',
            'IMG':'__IMG__',
            'INDEX':'{:U("Index/index")}'
        };
    </script>
</head>
<body>
<!--<?php-->
<!--var_dump($Goods);-->
<!--?>-->

<!--头部 显示标题-->
<div class="top">
    <div class="top_header">
        <div class="top_header_left glyphicon glyphicon-plane">深圳-满百包邮(环郊内)-星夜达
        </div>

        <if condition="session('admin')">
            <div class="top_header_right">
                <ul class="list_inline">
                    <li><a href="{:U('Login/logout')}">[退出]</a></li>
                    <li>您好:{:session('admin')['accounts']}</li>
                </ul>
            </div>
            <else />
            <div class="top_header_right">
                <ul class="list_inline">
                    <li><a href="{:U('Index/login')}">[登录]</a></li>
                </ul>
            </div>
        </if>



    </div>
    <!--导航分类-->
    <div class="top_content">
        <nav class="navbar " role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><img src="__IMG__/logo3.png"></a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li ><a href="{:U('Index/index')}" ><h4 class="glyphicon glyphicon-home">首页</h4></a></li>
                        <li><a href="#"><h4 class="glyphicon glyphicon-tree-deciduous">鲜果</h4></a></li>
                        <li ><a href="#"><h4 class="glyphicon glyphicon-cutlery">生鲜</h4></a></li>
                        <li><a href="#"><h4 class="glyphicon glyphicon-heart-empty">礼品</h4></a></li>
                        <li><a href="#"><h4 class="vip">VIP会员中心</h4></a></li>
                    </ul>
                </div>
                <div class="navbar-right">
                    <div class="input-group">
                        <input type="text" class="form-control">
					<span class="input-group-btn">
						<button class="btn btn-info " type="button">
                            <span class="glyphicon glyphicon-search"></span> 搜索
                        </button>
					</span>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>

<!--显示商品区域-->
<div class="shop-contain">
   <div class="shop-goods-detail">
        <div class="detail-left">
            <img src="__ROOT__/Uploads/{$Goods.img_path}" id="show_img">
        </div>
       <div class="detail-right">
           <table class="goods-des-tab">
               <tbody>
               <tr>
                   <td colspan="2">
                       <div class="des-title" ><h3>{$Goods.goods_name}</h3></div>
                       <div class="goods-info">{$Goods.goods_info}</div>
                   </td>
               </tr>
               <tr>
                   <td colspan="2">
                       <div class="des-chux">
                           <div class="jiage">
                          价格 ：<span id="shopGoodsPrice_255" dataid="" class="shop-price">￥{$Goods.shop_price}</span>
                           </div>
                       </div>
                   </td>
               </tr>
               <tr >
                   <td colspan="2">
                       <div class="des-title-span">
                           配送至：xx市xx区……
                       </div>
                   </td>
               </tr>
               <tr>
                   <td colspan="2">
                       <div class="transportation_expenses">
                           运费：{$Goods.carriage}元
                       </div>
                   </td>
               </tr>
               <tr>
                   <td colspan="2">
                       <div class="serve">
                           服务：由<a href="">小毛果园</a>配送，并提供售后服务
                       </div>
                   </td>

               </tr>
               <tr>
                   <td colspan="2">
                       <div class="quantity">
                           购买数量：<input type="text" id="quantity"> 库存{$Goods.goods_stock}{$Goods.goods_unit}
                       </div>
                   </td>
               </tr>
               <tr >
                   <td colspan="2">
                       <div class="car_button">
                           <img src="__IMG__/hcat.jpg" class="car_button_img">
                       </div>
                   </td>
               </tr>
               </tbody>
           </table>
       </div>
   </div>
    <div class="see-again">
        <img src="__IMG__/shopinfo.png">
    </div>
</div>

<!--显示评论区域-->
<div class="shop-goods-comment">
    <div class="goods-comment-area">
        <ul class="nav nav-tabs" id="goods_comment">
            <li class="active" value="0"><a href="#">商品详情</a></li>
            <li value="1"><a href="#" >商品评论</a></li>
        </ul>

    </div>
    <div class="goods-info-area">
     {$Goods.goods_describe}
    </div>
    <div class="goods-Review-area">
        建设中........
    </div>
</div>


<div class="end">
    <hr/>
    <div class="end_text">小毛果园-只为新鲜</div>
    <hr/>
</div>
</body>
<script type="text/javascript" src="__EASYUI__/jquery.min.js"></script>
<script type="text/javascript" src="__EASYUI__/jquery.easyui.min.js"></script>
<script type="text/javascript" src="__EASYUI__/locale/easyui-lang-zh_CN.js"></script>

<script>
    $('.goods-Review-area').hide();
    $("#goods_comment li").click(function() {

        $(this).siblings('li').removeClass('active');  // 删除其他兄弟元素的样式

        $(this).addClass('active');                            // 添加当前元素的样式
        if($(this).val()==1){
            $('.goods-info-area').hide();
            $('.goods-Review-area').show();
        }else if($(this).val()==0){
            $('.goods-info-area').show();
            $('.goods-Review-area').hide();
        }
    });

    $('#quantity').numberspinner({
        value:1,
        height:32,
        width:125,
        min: 1,
        max: 100,
        editable: false
    });
</script>
</html>